.Slot{
    display: inline-block;
    width: 50px ;
    height: 50px;
    border: 1px solid green;
    margin: 3px;
    background-color: grey;

}

.Slot.Open{
    background-color: honeydew;    
}

.HasItem{
    color: red;
}