.App {
  text-align: center;
}


.App .PlayingField{
  margin: 20px auto;
  border: 2px solid grey;
  width: 400px;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}